*{
  margin : 0;
  color: black;

}
.Navbar{
  padding: 20px;
  display : flex;
  align-items : center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid white;

}

.Navbar h1{
  color: red;

}
.Navbar .links{
  margin-left: auto;
}
.Navbar a{
  margin-left: 16px;
  text-decoration : none;
  padding: 6px;
}
.Navbar a:hover{
  color: red;

}
.content{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}


.blog-preview{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid white;
}

.blog-preview:hover{
  box-shadow: 1px 3px 5px black;
}
.blog-preview h2{
  font-size: 20px;
  color: red;
  margin-bottom: 8px;
}

.blog-details h2{
  font-size: 20px;
  color: red;
  margin-bottom: 10px;
}
.blog-details div{
  margin: 20px 0;
}
.blog-details button{
  background: red;
  color: white;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}




.create{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label{
  text-align: left;
  display: block;
}
.create h2{
  font-size: 20px;
  color: red;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select{
  width: 100px;
  padding: 6px 10px;
  margin: 10px 0;
  box-sizing: border-box;
  display: block;

}
.create button{
  background: red;
  color: white;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;

}